<div>
    <h1>{{title}}</h1>
    {{#each products }}
    <div>
        <h3>{{title}}</h3>
        <img 
            src={{image }}
            alt="img"
            width="250"
            height="250"
        />
        <p>{{ description }}</p>
        <strong>{{ price }} </strong>
    </div>
    {{/each}}
</div>